@media(min-width: 768px){

    .balance_container{

        width: 50%;
        height: 100%;
        margin: 10px;
        padding-top: 5px;

    }

    .overall_balance{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .overall_balance h3{
        font-size: 1.3rem;
    }

    .balance_positive{
        font-size: 2rem;
        color: #0D6EFD;
    }
    .balance_negative{
        font-size: 2rem;
        color: #DC3545;
    }



}

@media(max-width: 768px){

    .balance_container{

        width: 95%;
        height: 100%;
        padding: 5px;

    }

    .overall_balance{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .overall_balance h3{
        font-size: 1.3rem;
    }

    .balance_positive{
        font-size: 2rem;
        color: #0D6EFD;
    }
    .balance_negative{
        font-size: 2rem;
        color: #DC3545;
    }



}